@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    if (TempData["Message"] != null)
    {
        <h5 class="text-center" style="color: green">@TempData["Message"]</h5>

    }
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
